# 忽略日志文件夹
logs/

# 忽略临时文件文件夹
temp/

# 忽略raw
raw/models/qwen3
raw/models/siglip2-so400m-patch14-384
raw/models/whisper-medium
raw/models/cosyvoice2

__pycache__/
*.pyc

.DS_Store

checkpoints

raw/datasets/stage1
raw/datasets/stage2
raw/datasets/stage3
raw/datasets/stage4