# 忽略日志文件夹
logs/

# 忽略临时文件文件夹
temp/

# 忽略raw
raw/models/qwen3
raw/models/siglip2-so400m-patch14-384
raw/models/whisper-medium
raw/models/cosyvoice2

__pycache__/
*.pyc

.DS_Store

checkpoints/stage1
checkpoints/stage2
checkpoints/stage3
checkpoints/stage4

build_data/audio_text
build_data/image_text
build_data/ocr_data